*
    font-family: Roboto

.status
    margin-top: 5px
    position: absolute
    color: red

@import _catalog.sass
@import _communication.sass
@import _contacts.sass
@import _features.sass
@import _footer.sass
@import _header.sass
@import _info.sass
@import _promo.sass
@import _catalogs.sass
@import _media.sass